Checks: >
  bugprone-*,
  performance-*,
  modernize-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-use-override,
  -modernize-use-default-member-init,
  -modernize-use-nullptr,
  -modernize-avoid-c-arrays,
  -modernize-avoid-bind,
  -modernize-loop-convert,
  -modernize-pass-by-value,
  -modernize-return-braced-init-list,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-magic-numbers,
  -readability-implicit-bool-conversion,
  -readability-convert-member-functions-to-static,
  -readability-function-cognitive-complexity,
  -readability-named-parameter,
  -readability-redundant-string-cstr,
  -readability-redundant-member-init,
  -performance-enum-size,
  -performance-avoid-endl,
  -performance-inefficient-string-concatenation,
  -performance-unnecessary-value-param,
  -readability-avoid-const-params-in-decls
  
WarningsAsErrors: ''